#CartInfo{padding:10px; margin-right:70px}
#CartMini{padding: 10px;
        width: 300px;
        border: 1px black solid;
        position: absolute;
        display:none;
        background-color:white;
        height: 450px; overflow-y:auto;
        color:black
    }
#CartMiniTitle{padding:10px; border-bottom: 1px solid black; margin-bottom:5px}
.CartMiniItem{text-align: center; display:flex; flex-direction: column ;padding:2px; margin-bottom:20px}
#CartMiniImage{width:130px}
#CartMiniTotalPrice{border-top:1px solid black; padding-top:20px}