body{width:50%; margin:auto;display: flex;flex-direction: column; }


    #Header{background-color: whitesmoke; color: black; border:1px; padding:20px;display:flex; justify-content:space-between; border-radius: 15px;}
    #Footer{background-color: whitesmoke; color: black; border:1px; padding:29px; text-align:end; border-radius: 15px;}

    #Categories{padding:10px}
    #HeaderInfo{padding:10px}
    
    .sideBarDisplay{display:none}
    #sideBarCSS{position:fixed; background-color:white;width: 175px;
        height: 250px;
        text-align: center; border:1px solid}
    #sideBarNames{padding-bottom: 10px; padding-top: 10px;border-bottom: 1px solid black}
    
    .show{display:block}